.projects {
  padding: 3rem 2rem;
  background: #1a1a1a;
  color: #e0e0e0;
  text-align: center;
}

.projects-header h2 {
  color: #a3f5df;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.projects-header p {
  font-size: 1.1rem;
  color: #ccc;
  max-width: 600px;
  margin: 0 auto 3rem;
  line-height: 1.6;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.project-card {
  background: #1e1e1e;
  border: 1px solid #3b3b3b;
  border-radius: 1rem;
  padding: 1.4rem;
  text-align: center;
  width: 90%;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(69, 193, 160, 0.2);
}

.project-header h3 {
  color: #a3f5df;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.project-card p {
  color: #ccc;
  line-height: 1.5;
  font-size: 1rem;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #888;
}

.project-footer .links a {
  color: #45c1a0;
  margin-left: 0.5rem;
  transition: color 0.3s ease;
}

.project-footer .links a:hover {
  color: #7fffd4;
}

.projects-all {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.projects-all a {
  background-color: transparent;
  color: #a3f5df;
  border: 1px solid #a3f5df;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.projects-all a:hover {
  color: #45c1a0;
  /* background-color: #45c1a0; */
  border-color: #45c1a0;
}
.blur-blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.5;
  z-index: 0;
}
.blob4 {
  width: 250px;
  height: 250px;
  background: radial-gradient(
    circle,
    rgba(47, 145, 164, 0.4),
    transparent 100%
  );
  top: 15%;
  left: 20%;
}

/* Se till att allt innehåll ligger ovanpå */
.projects > *:not(.blur-blob) {
  position: relative;
  z-index: 1;
}
