.projects {
  padding: 2rem 2rem;
  background: #2c2d2f;
  color: #f8f8f2;
}

.projects-header h2 {
  color: #a6e22e;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.projects-header p {
  color: #f8f8f2;
  max-width: 600px;
  margin: 0 auto 3rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.project-card {
  background: #1e1e1e;
  border-radius: 1rem;
  padding: 1.5rem;
  border: 1px solid #3c3d37;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
}

.project-header h3 {
  color: #66d9ef;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #75715e;
}

.project-footer .links a {
  color: #a6e22e;
  margin-left: 0.5rem;
  transition: color 0.3s ease;
}
.project-footer .links a:hover {
  color: #fd971f;
}
.projects-all {
  margin-top: 4rem;
  /* margin-bottom: 1rem; */
  display: flex;
  justify-content: center;
}

.projects-all a {
  background-color: transparent;
  color: #66d9ef;
  border: 1px solid #45c1a0;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.projects-all a:hover {
  border-color: #fd971f;
  color: #fd971f;
}
