.projects {
  padding: 6rem 2rem;
  background: var(--bg-color-grey);
  text-align: center;
  position: relative;
  overflow: hidden;
  scroll-margin-top: 90px;
}

.projects-header h2 {
  font-size: 2rem;
  color: var(--accent-color);
  font-weight: 600;
  margin-bottom: 1rem;
}

#my-projects {
  max-width: 700px;
  margin: 0 auto 3rem auto;
  color: var(--primary-text);
  font-size: 1.1rem;
  line-height: 1.6;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

@media (min-width: 900px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    max-width: 1400px;
    margin: 0 auto;
  }

  .project-card {
    width: 100%;
    max-width: 350px;
    max-height: 230px;
    padding: 1.8rem;
  }
}

.project-card {
  background: var(--bg-cards);
  border: var(--border-cards);
  border-radius: 1rem;
  padding: 1.4rem;
  text-align: center;
  width: 90%;
  box-shadow: var(--shadow-primary);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 140px;
}

.project-card:hover {
  transform: translateY(-5px);
  border-color: var(--border-cards-hover);
  box-shadow: var(--shadow-hover);
}

.project-header {
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
}

.project-header h3 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.project-header span {
  background: #1a1a1b;
  color: var(--accent-color);
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  font-size: 0.8rem;
}

.project-card p {
  color: var(--secondary-text);
  font-size: 0.95rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  flex-grow: 1;
  text-align: center;
  align-content: center;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.stats {
  display: flex;
  gap: 1rem;
  color: var(--secondary-text);
  font-size: 0.9rem;
}

.stats span {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.links a {
  color: var(--accent-color);
  margin-left: 0.6rem;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #fff;
}

.projects-all {
  margin-top: 3rem;
}

.projects-all a {
  background: transparent;
  color: #ccc;
  border: var(--border-cards);
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: none;
}

.projects-all a:hover {
  transform: translateY(-5px);
  border-color: var(--border-cards-hover);
  box-shadow: var(--shadow-hover);
}
