.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  min-height: auto;
  padding-bottom: 4rem;
  padding-top: 4rem;
  padding: 2rem 1.2rem; /* lägger till sidomarginal även på mobil */

  background: #1a1a1a;
  color: #f0f0f0;
  text-align: center;
}
/* --- Animated Background Blobs --- */
.blur-blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.5;
  z-index: 0;
}

/* Blob 1 – Monokai green tone */
.blob1 {
  width: 300px;
  height: 300px;
  background: radial-gradient(
    circle,
    rgba(14, 179, 135, 0.747),
    transparent 100%
  );
  top: 30%;
  left: 20%;
}

/* Blob 2 – cyan/blue tone */
.blob2 {
  width: 250px;
  height: 250px;
  background: radial-gradient(
    circle,
    rgba(47, 145, 164, 0.4),
    transparent 100%
  );
  bottom: 15%;
  right: 20%;
}

/* Se till att allt innehåll ligger ovanpå */
.hero > *:not(.blur-blob) {
  position: relative;
  z-index: 1;
}

@media (min-width: 900px) {
  .hero {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0rem;
  }

  .hero-image-section,
  .hero-content {
    flex: 1;
    max-width: 500px;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }
}

.flip-card {
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.flip-inner {
  position: relative;
  width: 220px;
  height: 220px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  margin: 0 auto;
}

.flipped .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15% 0;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.flip-front img,
.flip-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-back {
  transform: rotateY(180deg);
}

.welcome {
  display: flex;
  justify-content: center;
  color: #f0f0f0;
  font-size: 2.8rem;
  margin-bottom: 1.6rem;
}

.highlight {
  color: #45c1a0;
}

.description {
  line-height: 1.6;
  font-size: 1.1rem;
  color: #ccc;
  margin: 0 auto; /* centrerar blocket */
  text-align: center;
}

.cta {
  margin-top: 3rem;

  font-size: 1.1rem;
}

.link-highlight {
  color: #fd971f;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}
.link-highlight:hover {
  border-bottom: 2px solid #fd971f;
}
