.hero {
  background: #1e1e1e;
  color: #f8f8f2;
  text-align: center;
  padding: 1rem 2rem;
  min-height: 100vh;
}

.welcome {
  display: inline-block;
  background: #2c2d2f;
  color: #fd971f;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 999px;
  font-size: 1.3rem;
  margin-top: 2rem;
  white-space: nowrap;
  min-height: 2.5rem;
  align-content: center;
}

.profile-wrapper {
  width: 200px;
  border-radius: 15%;
  overflow: hidden;
  margin: 0 auto 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

#profile-image {
  width: 100%;
  display: block;
}

.highlight {
  color: #66d9ef;
}

.description {
  max-width: 700px;
  margin: 1.5rem auto 2rem;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #d3f3ee; /* passa till ditt monokai dark tema */
  text-align: center;
}
