.navbar {
  background: #242526;
  border-bottom: 1px solid #3b3b3b;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar p {
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: 3rem;
  border-right: 1px solid white;
  padding-right: 0.5rem;
}

.navbar a {
  color: #f8f8f2;
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}
.navbar a:hover {
  color: #66d9ef;
}
.navbar a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #66d9ef;
  transition: width 0.3s ease;
}
.navbar a:hover::after {
  width: 100%;
}
