@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

html,
body,
#root {
  background-color: #1a1a1a;
}
body {
  font-family: "Quicksand", monospace;
  color: #1a1a1a;
  margin: 0;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}
