@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --bg-color-dark: #000000;
  --bg-color-grey:  #000;
  --bg-cards: #101010;
  --primary-text: #e1e0e0;
  --secondary-text: #a9a9a9;
  --accent-color: #45c1a0;
  --border-cards: 1px solid #333;
  --border-cards-hover: #45c1a0;
  --shadow-primary: 0 6px 14px rgba(0, 0, 0, 0.4);
  --shadow-hover: 0 8px 22px rgba(69, 193, 160, 0.15)
  --border-radius-cards: 12px;
  --nav-h: 75px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  background-color: #000; /* ensure viewport background is black */
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #000; /* ensure app container is black */
}

main,
section,
.hero,
.about-section,
.projects-section {
  position: relative;
  z-index: 1;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-light);
  overflow-x: hidden;
  background-color: #000; /* page background to pure black */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}


main {
  padding-top: 80px;
}
